<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">
</head>
<body>
    <header>
        Breakfast Specials
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <!-- your card 1 goes here -->
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/croissantsandwich.jpeg' %}" class="card-img-top" alt="croissant sandwich">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col">
            <!-- your card 2 goes here -->
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/croissantsandwich.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col">
            <!-- your card 3 goes here -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/croissantsandwich.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
</div>

            </div>
        </div>  



    </main>
</body>
</html>