<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/breakfast.css' %}">
</head>
<body class="breakfast">
    <header>
        <h1 class="breakfast-header">Breakfast Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/breakfast.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/breakfast1.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/breakfast2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>