<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/drinks.css' %}">
</head>
<body class="drinks">
    <header>
        <h1 class="drinks-header">Drinks Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/drink.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>