<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakfast Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/kids.css' %}">
</head>
<body class="kids">
    <header>
        <h1 class="kids-header">Kids Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/kids.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/kids11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>