<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customersreview.css' %}">

</head>
<body class="customers-review">
    <h3>Leave a review</h3>
    <p>We would love to get your feedback about the following meals:</p>
    
    <div>
        <label>Display name</label>
        <p>This name will appear alongside your review.</p>
        <input type="text" placeholder="Bella Giordani">
    </div>
    <br>
    <div>
        <label>Reviews</label>
        <br>
        <textarea name="Review" id="review" cols="50" rows="10"></textarea>
    </div>


   
</body>
</html>