<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body class="gallery">
    <header>
        <h1 class="gallery-header">Gallery</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/breakfast.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/sushiplatter.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink11.jpeg' %}"></div> 
            <div class="box">
                <img src="{% static 'images/breakfast8.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch1.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink11.jpeg' %}"></div> 
            <div class="box">
                <img src="{% static 'images/breakfast.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch1.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/sushiplatter.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink11.jpeg' %}"></div> 
            <div class="box">
                <img src="{% static 'images/breakfast.jpeg' %}">
            </div>
            
            <div class="box">
                <img src="{% static 'images/drink7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast12.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast11.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink6.jpeg' %}"></div>  
            <div class="box">
                <img src="{% static 'images/breakfast9.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch4.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/ricedish.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter11.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink5.jpeg' %}"></div> 
            <div class="box">
                <img src="{% static 'images/breakfast7.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch6.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spagheti.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast12.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink10.jpeg' %}"></div> 
            <div class="box">
                <img src="{% static 'images/breakfast4.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch3.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/croissantsandwich.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink8.jpeg' %}"></div>     
                
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
            </div>


    </main>
</body>
</html>