<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body class="gallery">
    <header>
        <h1 class="gallery-header">Breakfast Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/breakfast.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/lunch1.jpeg' %}">
            </div>
            <div class="box">
                <img src="{% static 'images/dinner2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/sushiplatter.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/breakfast10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/drink11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>