/* google maps css starts*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.box {
    max-width: 600px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.location-box {
    max-width: 600px;
    background: white;
    margin: 40px auto;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.locate-us {
   background: #720f28;
}

/*Opening Hours start here */
.span {
    color: aliceblue;
}
/*Opening Hours start here */