/* Reservations page */
.reservations-page {
    background-color: #f7efe8;
}

/* Menu page */
.menu-page {
    background-color:bisque;
    padding: 20px;
}


/* Contact page */
.contact-page {
    background-color: #e0f7fa;
}

/* Reservation Page*/

