<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autumn Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/autumn.css' %}">
</head>
<body class="autumn">
    <header>
        <h1 class="autumn-header">Autumn Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/autumn.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/autumn11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>