<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/spring.css' %}">
</head>
<body class="spring">
    <header>
        <h1 class="spring-header">Spring Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/spring.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/spring11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>