<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/summer.css' %}">
</head>
<body class="summer">
    <header>
        <h1 class="summer-header">Summer Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/summer.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/summer11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>