<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/winter.css' %}">
</head>
<body class="winter">
    <header>
        <h1 class="winter-header">Winter Specials</h1>
    </header>

    <main>
        <div class="grid">
            <div class="box">
                <img src="{% static 'images/winter.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter1.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter2.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter3.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter4.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter5.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter6.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter7.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter8.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter9.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter10.jpeg' %}"></div>
            <div class="box">
                <img src="{% static 'images/winter11.jpeg' %}"></div> 
        </div>


    </main>
</body>
</html>